* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  color: #2e2e2e;
}
p {
  color: #676767;
}
.menu-item {
  cursor: pointer;
}

.menu-item.active {
  color: red;
}
.navbar-brand {
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.searchBtn {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 1px 2px 2px 0px rgb(243, 243, 243);
}
.search {
  padding-right: 80px;
}
.search i {
  padding-right: 5px;
  color: #9e9e9e;
}
.btn-cart i {
  padding-left: 10px;
}

.btn-cart {
  position: relative;
}
.btn-cart h6 {
  width: 28px;
  height: 28px;
  padding-top: 4.5px;
  color: #fffdfd;
  background-color: #f54b4b;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: -23px;
  right: -10px;
  box-shadow: 0px 0px 4px 0px #f8abab;
}
.btn-cart i {
  font-size: 18px;
  text-align: center;
}
.banner {
  margin-top: 100px;
}
.banner-t1 {
  background-color: #fdecec;
  width: 203px;
  border-radius: 30px;
  padding: 0 21px;
}
.banner-t1 h6 {
  color: #f55556;
  font-size: 14px;
  margin-top: 5px;
}
.banner-t1 img {
  width: 26px;
  height: 24px;
  margin-left: 15px;
}
.banner-t2 {
  font-size: 70px;
}
/** cart icon design **/
.btn-cart {
  position: relative;
}
.btn-cart h6 {
  width: 28px;
  height: 28px;
  padding-top: 4.5px;
  color: #fffdfd;
  background-color: #f54b4b;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: -23px;
  right: -10px;
  box-shadow: 0px 0px 4px 0px #f8abab;
}
.btn-cart i {
  font-size: 18px;
  text-align: center;
}
/** card design **/
.banner-img img {
  height: 540px;
  width: 100%;
  object-fit: contain;
}
.main-card {
  position: relative;
}
.card-design {
  background: white;
  box-shadow: 1px 2px 2px 0px rgb(243, 243, 243);
  text-align: center;
  width: 182px;
  height: 210px;
  border-radius: 100px 10px 10px 10px;
  position: relative;
  position: absolute;
  top: 80px;
  left: -105px;
}

.card-design img {
  width: 100px;
  height: 88px;
  margin-top: -30px;
}
.card-design h1 {
  margin-top: 10px;
  color: #2e2e2e;
  font-size: 20px;
  font-weight: bold;
}
.card-design span {
  padding: 12px 14px;
  border-radius: 10px;
  position: absolute;
  bottom: -20px;
  left: 65px;
  cursor: pointer;
}
.card-design div {
  width: 20px;
  height: 2px;
  background-color: #ffa610;
  margin-left: 80px;
}
/** order btn style **/
.order-btn .btn1 {
  background-color: #f86061;
  width: 164px;
  height: 77px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
}
.order-btn .btn2 {
  width: 224px;
  padding: 5px;
}
.order-btn .btn2 i {
  color: #fdc55e;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 1px 2px 2px 0px rgb(240, 237, 237);
}
/**banner cart **/
.card-design h6 {
  margin-top: 20px;
  font-size: 16px;
}
.card-design span i {
  font-size: 18px;
  color: white;
}
/** Services design**/
.service {
  margin-top: 50px;
  padding: 80px 0 50px 0;
}
.service-heading h5 {
  color: #f54b4b;
  margin-top: 5px;
}
.service-heading h1 {
  font-size: 54;
  font-weight: bold;
  line-height: 54px;
}
/** Services cards design**/
.cards {
  margin-top: 60px;
}
.card-content {
  width: 300px;
  height: 310px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  z-index: 2;
}
.card-content img {
  margin-top: 48px;
  width: 95px;
}
.card-content h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 60px;
}
.card-content h6 {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.7;
  padding: 20px;
}
.service-card p {
  width: 310px;
  height: 334px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: -4px;
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

.service-card:hover p {
  background-color: #fe6a6a;
  transform: rotate(-3deg);
}
.feature1 {
  position: relative;
}
.feature-card {
  width: 204px;
  height: 277px;
  background: white;
  box-shadow: 1px 2px 2px 0px rgb(243, 243, 243);
  padding: 0 20px;
  position: absolute;
  top: 256px;
  right: -72px;
  border-radius: 10px;
  z-index: 2;
}
.feature-card h4 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 26px;
}
.feature-card h6 {
  font-size: 12px;
  text-align: center;
}
.feature-card img {
  width: 126px;
  height: 77px;
  margin: auto;
  display: block;
}
.review {
  margin-top: 40px;
}
.review i {
  color: #fdc55e;
  font-size: 15px;
}

.review h5 {
  font-size: 15px;
  font-weight: bold;
  margin-left: 2px;
}
.cart-btn h1 {
  margin-top: 7px;
  font-size: 20px;
  font-weight: bold;
}
.cart-btn i {
  color: #f54748;
  font-size: 37px;
  cursor: pointer;
}
/** feature1-content **/
.feature {
  margin-top: 100px;
}
.feature-content {
  position: relative;
  z-index: 2;
  margin-top: 212px;
}
.feature-content .lh h6 {
  color: #03a66b;
  font-size: 24px;
}
.feature2-content .lh h6 {
  color: #f9ba45;
  font-size: 24px;
}
.feature1-image img {
  width: 598px;
  height: 738px;
  object-fit: contain;
  position: relative;
  z-index: 1;
}
.feature-content .t2 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  margin-top: 35px;
}
.feature-content .t3 h6 {
  font-size: 19px;
  margin-top: 43px;
  line-height: 2;
}
.explore .btn1 {
  margin-top: 30px;
}
/* feattue2 */
.feature2 {
  position: relative;
  margin-bottom: 100px;
}
.feature2-content {
  margin-top: 100px;
}
.feature2-content .t2 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
}
.feature2-content .t3 h6 {
  font-size: 19px;
  margin-top: 3px;
  line-height: 2;
}
.feature2-image img {
  width: 505px;
}
.feature2-content .order-btn .btn1 {
  background: transparent;
  border: 2px solid #f86061;
  color: #f86061;
}
/* CTA design */
/* cta form head */
.head-1 {
  margin-bottom: 50px;
}
.head-1 a {
  font-size: 10px;
}
.form-head p {
  font-size: 10px;
  margin-bottom: 30px;
}
/* cta form */
.cta {
  padding: 100px 0;
}
.ctn-form {
  width: 275px;
  height: 593px;
  padding: 20px;
  margin-top: 76px;
  position: absolute;
  margin-left: 20px;
  border-radius: 0px 0px 49px 53px;
}
.cta-form input {
  box-shadow: 1px 2px 2px 0px rgb(243, 243, 243);
  margin-top: -20px;
  font-size: 16px;
}
.em {
  position: relative;
}
.em p {
  font-size: 12px;
}
#closeButton {
  font-size: 20px;
  color: #f54748;
  position: absolute;
  top: 15px;
  right: 0;
}
.pass {
  position: relative;
}
.pass p {
  font-size: 12px;
}
.pass #closeButton {
  font-size: 20px;
  color: #f54748;
  position: absolute;
  top: 15px;
  right: 0;
}
#closeButton:hover {
  background: none;
}
.sub-btn {
  color: white;
  background: #f96062;
  margin-top: 20px;
}
.cta-t1 h6 {
  font-size: 24px;
  color: #f54748;
}
/* .cta-content */
.cta-content {
  margin-top: 100px;
}
.cta-content .t2 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
}
.cta-content .t3 h6 {
  font-size: 19px;
  margin-top: 3px;
  line-height: 2;
}
.cta-btn .btn1 {
  border: 1px solid #eedcdc;
  font-size: 20px;
  padding: 20px 40px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}
.cta-btn .btn1 i {
  color: white;
  background: #2e2e2e;
  font-size: 30px;
  padding: 10px 15px;
  border-radius: 10px;
}
.cta-btn .btn2 {
  border: 1px solid #eedcdc;
  font-size: 20px;
  padding: 20px 40px;
  border-radius: 10px;
  color: rgb(0, 0, 04, 32, 32);
}
.cta-btn .btn2 i {
  font-size: xx-large;
}
